[Unit]
Description=Intel Dynamic Application Loader Host Interface (JHI)

[Service]
Type=notify
ExecStart=/usr/sbin/jhid
Restart=on-abort

[Install]
WantedBy=multi-user.target